@charset "UTF-8";


:root{
    --cor1: #477AF5;
    --cor2: #355BB5;
    --cor3: #223B75;
    --cor4: #406EDB;
    --cor5: #101B36;
    --cor-fonte: #4D67EB;
    --cor-fundo: #b6b8d49a;
    --fundo-listas:  rgba(128, 128, 128, 0.116);

}

*{
    margin: 0px;
}

body{

    background-color: var(--cor-fundo);
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    max-width: 1250px;
  

}

header{
    background-image: linear-gradient(to bottom, var(--cor3), transparent  );
    margin: auto;
    text-align: center;
    max-height: 200px;
    min-height: 100px;
    padding: 2px;
    border: solid 2px black;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    

}


header > h1{

    margin-top: -2px;
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.767);

    
}


nav{


background-color: var(--cor3);
padding: 15px;
height: 20px;




}



nav > span {
    
    font-weight: bold;
    color: white;
    text-align: center;
    background-color: var(--cor3);
    padding: 14px;
    text-shadow: 1px 1px 2px black;
      

}

nav > span > a{
    text-decoration: none;
    color: white
}

nav > span:hover{

    background-color: var(--cor1);   
      

    
}

main#principal{
    position: relative;
    background-color: white;
    background-image: url(..//Imagens/logohdc400.png);
    background-repeat: no-repeat;
    background-position: center center;
    height: 500px;
}
    
main{
    background-color: white;
    height: 500px;
}



main > ul {
    position: absolute;
    left: 72%;
    transform: translate(10px);
    

    font-size: 18px;
    background-color: rgba(128, 128, 128, 0.116) ;
    width: 300px;
    
    box-shadow: -1px 1px 3px black;
    border-radius: 0px 0px 0px 10px;
    
    
}

main > ul > h3{
    text-decoration: underline;
    margin-bottom: 10px;
    color: var(--cor3);
    font-size: 20px;
    text-shadow: 1px 1px 5px --cor3;
    padding-top: 10px;
    
}


main > ul > li{
    height: 26px;   
         
}

main > ul > li > a {
    text-decoration: none;
    color: var(--cor1); 
    font-weight: 500;  
    
}




main > ul > li:hover{

    text-decoration: underline;
    color: black;
}


main > ul > li > a:hover{

    text-decoration: underline;
    color: black;
}




footer{
    text-align: center;
    background-color: var(--cor3);
    width: 350px;
    margin: auto;
    margin-top: auto;
    color: white;
    border-radius: 20px;
}




 /*  codigo pagina apoio diario     */

img.voltar{
    width: 20px;
    margin-top: -10px;
    margin-right: 5px;
    
}




main.diario{
    background-color: white;
    font-size: large;
    

}

main.diario ul{

    margin: auto;
    background-color: var(--fundo-listas);
    border: solid 1px black;
    border-radius: 20px 20px 20px 20px;
    margin: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.623);
    

}

main.diario h2{
    padding-left: 30px;
    color: var(--cor-fonte);
    margin-bottom: 10px;
    padding-top: 5px;
    text-shadow:  1px 1px  2px rgba(0, 0, 0, 0.13);

}
main.diario h3{
    margin: auto;
    text-align: center;
    padding-bottom: 23px;
    padding-top: 5px;
    text-shadow:  1px 1px  1px rgba(0, 0, 0, 0.034);
}

main.diario li{

    padding-bottom: 20px;
    font-size: 20px;
    font-weight: normal;
    line-height: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}






    





 /*  codigo pagina apoio a changes   */





 main.change h2{
    padding-left: 58px;
    color: white;
    margin-bottom: 10px;
    padding-bottom: 10px;
    text-shadow:  1px 1px  2px rgba(0, 0, 0, 0.13);
    background-color: var(--cor3);

}

main.change ul{
    
    background-color: var(--fundo-listas);
    border-radius: 0px 0px 0px 20px;
    margin: 10px;
    box-shadow: -2px 3px 3px rgba(0, 0, 0, 0.623);
    width: 400px;   
    position: absolute;
    left: 60%;
    transform: translate(52px, -23px);
    padding-top: 10px;
    padding-left: 28px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    
    
    

}

main.change {
    height:auto;
}

main.change > ul > h3 {
    text-decoration: underline;
    margin-bottom: 10px;
    color: var(--cor3);
    font-size: 20px;
    text-shadow: 1px 1px 5px --cor3;
    padding-bottom: 10px;
    text-align: center; 
        
}

main.change > ul.change > li{
    height: 30px;
    color: black;
    padding-left: 10px;
    
}

main.change > ul.change p {
    height: 30px;    

}

main.change > span > h3{
    margin-left: 196px;
    padding: 2px 5px;
    color: var(--cor5);
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.041);
    
}

main.change > span > div > table{
    font-family: Arial, Helvetica, sans-serif;
    width: 600px;
}

caption {
    background-color: var(--cor5);
    padding: 20px 10px 20px 10px;
    margin-top: -10px;
    font-weight: bold;
    color: white;
    font-size: 1.2em;
    min-width: 801px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.918);

}

table{
    border-collapse: collapse;
    position: relative;
}

thead {
    background-color: rgba(128, 128, 128, 0.658); 
    font-size: 1.1em;   
    
}

thead > tr > th {
    position: sticky;
    top: -1px;
    background-color: rgb(128, 128, 128); 

}


tbody > tr:nth-child(2n){
    background-color: rgba(211, 211, 211, 0.411);
}



    
td ,th{
        
    border: 1px solid black;
    padding: 10px;
    
}

td.num{
    text-align: right;
    padding-right: 10px;
    
}

td.seguimento{
    font-weight: bold;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.418);
    font-size: 1.0em;
}


