@charset "UTF-8";


:root{
    --cor1: #477AF5;
    --cor2: #355BB5;
    --cor3: #223B75;
    --cor4: #406EDB;
    --cor5: #101B36;
    --cor-fonte: #4D67EB;
    --cor-fundo: #b6b8d49a;
    --fundo-listas:  rgba(128, 128, 128, 0.116);

}

*{
    margin: 0px;
}

body{

    background-color: var(--cor-fundo);
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    max-width: 1250px;
  

}

header{
    background-image: linear-gradient(to bottom, var(--cor3), transparent  );
    margin: auto;
    text-align: center;
    max-height: 200px;
    min-height: 100px;
    padding: 2px;
    border: solid 2px black;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    

}


header > h1{

    margin-top: -2px;
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.767);

    
}


nav{


background-color: var(--cor3);
padding: 15px;
height: 20px;




}



nav > span {
    
    font-weight: bold;
    color: white;
    text-align: center;
    background-color: var(--cor3);
    padding: 14px;
    text-shadow: 1px 1px 2px black;

       

    
   

}
nav > span > a{
    text-decoration: none;
    color: white
}

nav > span:hover{

    background-color: var(--cor1);
    
     
    

    
}

main#principal{
    background-color: white;
    background-image: url(..//Imagens/logohdc400.png);
    background-repeat: no-repeat;
    background-position: center center;
    height: 500px;
}
    
main{
    background-color: white;
    height: 500px;
}

main > ul > h3{
    text-decoration: underline;
    margin-bottom: 10px;
    color: var(--cor3);
    font-size: 20px;
    text-shadow: 1px 1px 5px --cor3;
    
}

main > ul {

    font-size: 18px;
    background-color: rgba(128, 128, 128, 0.116) ;
    width: 300px;
    margin-left: auto;
    box-shadow: 1px 1px 5px black;
    border-radius: 10px;
    
    
}

main > ul > li > a {

    text-decoration: none;
    color: var(--cor1);
    
}

main > ul > li > a:hover{

    text-decoration: underline;
    color: black;
}

footer{
    text-align: center;
    background-color: var(--cor3);
    width: 350px;
    margin: auto;
    margin-top: 400px;
    color: white;
    border-radius: 20px;
}




 /*  codigo pagina apoio diario     */

img.voltar{
    width: 20px;
    margin-top: -10px;
    margin-right: 5px;
    
}




main.diario{
    background-color: white;
    font-size: large;
    

}

main.diario ul{

    margin: auto;
    background-color: var(--fundo-listas);
    border: solid 1px black;
    border-radius: 20px 20px 20px 20px;
    margin: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.623);
    

}

main.diario h2{
    padding-left: 30px;
    color: var(--cor-fonte);
    margin-bottom: 10px;
    padding-top: 5px;
    text-shadow:  1px 1px  2px rgba(0, 0, 0, 0.13);

}
main.diario h3{
    margin: auto;
    text-align: center;
    padding-bottom: 23px;
    padding-top: 5px;
    text-shadow:  1px 1px  1px rgba(0, 0, 0, 0.034);
}

main.diario li{

    padding-bottom: 20px;
    font-size: 20px;
    font-weight: normal;
    line-height: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}






    





 /*  codigo pagina apoio a changes   */