@charset "utf-8";


main.change h2{
    padding-left: 58px;
    color: white;
    margin-bottom: 10px;
    padding-bottom: 10px;
    text-shadow:  1px 1px  2px rgba(0, 0, 0, 0.13);
    background-color: var(--cor3);
    

}

button#bapp {
    position: relative;
    left: 160px;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--fundo-listas);
    color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold
}

button#bsiebel {
    position: relative;
    left: 170px;
    padding: 10px 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 5px;
    background-color: var(--fundo-listas);
    color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold
}

button#bapp:hover{
    background-color: var(--cor2);
}

button#bsiebel:hover{
    background-color: var(--cor2);
}



 ul.change{
    
    background-color: var(--fundo-listas);
    border-radius: 0px 0px 0px 20px;
    box-shadow: -2px 3px 3px rgba(0, 0, 0, 0.623);
    width: 400px;  
    position: absolute;
    
    transform: translate(-77px,-12px);
    padding-top: 10px;
    padding-left: 28px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    
    
    

}

main.change {
    height:auto;
    
}

main.change > ul > h3 {
    text-decoration: underline;
    margin-bottom: 10px;
    color: var(--cor3);
    font-size: 20px;
    text-shadow: 1px 1px 5px --cor3;
    padding-bottom: 10px;
    text-align: center; 
        
}

main.change > ul.change > li{
    height: 30px;
    color: black;
    padding-left: 10px;
    
}

main.change > ul.change p {
    height: 30px;    

}

main.change > span > h3{
    margin-left: 196px;
    padding: 2px 5px;
    color: var(--cor5);
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.041);
    
}


table#tapp {
    display: none;
    font-family: Arial, Helvetica, sans-serif;
    width: 600px;
}

caption {
    
    background-color: var(--cor5);
    padding: 20px 10px 20px 10px;
    margin-top: -10px;
    font-weight: bold;
    color: white;
    font-size: 1.2em;
    min-width: 801px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.918);

}




table{
    border-collapse: collapse;
    position: relative;
}

thead {
    background-color: rgba(128, 128, 128, 0.658); 
    font-size: 1.1em;   
    
}

thead > tr > th {
    position: sticky;
    top: -1px;
    background-color: rgb(128, 128, 128); 

}


tbody > tr:nth-child(2n){
    background-color: rgba(211, 211, 211, 0.411);
}



    
td ,th{
        
    border: 1px solid black;
    padding: 10px;
    
}

td.num{
    text-align: right;
    padding-right: 10px;
    
}

td.seguimento{
    font-weight: bold;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.418);
    font-size: 1.0em;
}

table#tsbl{
    display: none;
}

caption#tsbl {
    background-color: #3F64EB ;
}

td#tdsbl{
    background-color: #566BB8 ;
}